
<head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T38787/PUIP+pxvDe7qP77HFb77wG0+h0uir3.1L7S74Fon0LM46zK6/g0v/eHh7/8=" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C8fC4Zt5O+el0mkivJjSmw0/CF3Rdg+5V6o795R9M4l6712H5Z603047027W1zLx" crossorigin="anonymous"></script>
</head>
<body>
<section class="cards">
    <div class="card">
        <img src="images/React.png" alt="Product 1">
        <h3>React js</h3>
        <b>999</b>
    </div>
    <div class="card">
        <img src="images/Mongo.jpeg">
        <h3>MongoDb </h3>
        <b> 499</b>
    </div>
    <div class="card">
        <img src="images/Node.png" alt="Product 3">
        <h3>Node js</h3>
        <b>999</b>
    </div>
</section>
</body>